.box{
    margin: 5% 15%;
    /* border: 1px solid black; */
    display: flex;
}

.reg{
    margin: 0% 5%;
    width: 60%;
}

.common{
    margin-top: 4%;
}
.image,.img1{
    width:50%;
    height: 100%;
}

.head{
    display: flex;
}

.text{
    margin-top: 10%;
}
@media only screen and (max-width:900px){
    .image{
        display: none;
    }
    .box{
        align-items: center;
        justify-content: center;
    }
    .reg{
        width: 80%;
        margin:0;
    }
}
